{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <h1>About us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis et ex id. Accusantium eos fugit incidunt
        provident quasi. Atque consectetur cupiditate, deserunt error magnam natus nihil nisi quam quo veniam?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis et ex id. Accusantium eos fugit incidunt
        provident quasi. Atque consectetur cupiditate, deserunt error magnam natus nihil nisi quam quo veniam?</p> <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis et ex id. Accusantium eos fugit incidunt
    provident quasi. Atque consectetur cupiditate, deserunt error magnam natus nihil nisi quam quo veniam?</p> <p>Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis et ex id. Accusantium eos fugit incidunt
    provident quasi. Atque consectetur cupiditate, deserunt error magnam natus nihil nisi quam quo veniam?</p> <p>Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis et ex id. Accusantium eos fugit incidunt
    provident quasi. Atque consectetur cupiditate, deserunt error magnam natus nihil nisi quam quo veniam?</p>
{% endblock %}

