<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">Accueil</a></li>
        <li><a href="{{ path('wish_list') }}">Souhaits</a></li>
        <li><a href="{{ path('wish_add') }}">Ajouter une idée</a></li>
    </ul>
</nav>