<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bucket List{% endblock %}</title>
    <link rel="icon"
          href="{{ asset("img/favicon.png") }}">
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >

    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
</head>
<body>
<div class="container">
    <header>
        <div class="header-div">
            <img src="{{ asset('img/logo.svg') }}" alt="Logo Bucket">
            Bucket-List
        </div>
        {% include 'views/menu/nav.html.twig' %}
    </header>
    <main>{% block body %}{% endblock %}</main>
    <footer>
        <p>&copy;Bucket-List - {{ "now" | date('Y') }}</p>
    </footer>
</div>
</body>
</html>
